/* MainPage */
#MainPage {
    height: 100vh; 
}
#MainPage .content{
    max-width: 1024px;
}

#MainPage .status{
    padding-top: 45px;
    width: 20%;
}
#MainPage .status .log{
    border: 1px solid #c0c0c0;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
}
#MainPage .status .buttons{
    width: 100%;
}
#MainPage .status .buttons button{
    width: 100%;
}
